<script src="/js/map.js"></script>
<script src='https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.css' rel='stylesheet' />
<div id="rock"></div>
<div id='map' style='position: absolute; top: 0; bottom: 0; width: 100%;'></div>
<script>

</script>